@import '../../../theme/constants';
.navbar{
  border: none;
}
.navbar_header{
  border-bottom: 2px solid $teal;
  h2{
    display: none;
    font-family: $fontA;
    color: $teal;
    font-size: 23px;
    margin-top: 12px;
    margin-left: 20px;
  }
}
.navbar_toggle{
  margin-right: 0;
}
.icon_bar{
  background-color: $teal;
}
.active{
  color: $orange!important;
  &::after{
    content: "";
    width: 0;
    height: 0;
    right: 0;
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid $orange;
    top: -5px;
  }
}
.navbar_collapse{
  padding-left: 0;
  padding-right: 0;
  border-right: 2px solid $orange;
  margin-right: -2px;
  li{
    width: 100%;
    h2, h3{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
@media#{$isTablet}{
  .navbar_collapse{
    li{
      padding-left: 20px;
    }
  }
}
@media#{$isPhone}{
  .navbar{
    h2{
      display: block;
    }
  }
  .active{
    &::after{
      display: block;
    }
  }
  .navbar_collapse{
    border-left: none;
    border-bottom: 2px solid $teal;
    background: $gray;
    li{
      padding-left: 35px;
    }
  }
}
