@import '../../../../theme/constants';
@import '../../../../theme/wrappers/wrappers';
.footerWrapper {
  margin-top: 50px;
}
.brand{
  background-color: $blue;
  height: 340px;
  float: right;
  padding: 50px;
  p{
    color: $lightGreen;
    font-size: 15px;
    text-align: center;
    .yellow{
      color: $yellow;
      font-weight: bold;
    }
    .white{
      color: $white;
    }
  }
  img{
    display: block;
    margin: 25px auto;
  }
}
.contact{
  background-color: $yellow;
  height: 210px;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  p{
    color: $blue;
  }
  h2{
    color: $white;
    margin-bottom: 25px;
    font-weight: bold;
    &::before{
      font-size: 23px;
      content:"¡";
      color: $blue;
      font-weight: bold;
      color: $blue;
    }
    &::after{
      font-size: 23px;
      content:"!";
      font-size: 23px;
      font-weight: bold;
      color: $blue;
    }
  }
  a{
    display: block;
    color: $blue;
    &:hover{
      color: $blueHover;
    }
  }
  .facebook{
    &::before{
      content: "";
      vertical-align: middle;
      width: 21px;
      height: 22px;
      background-image: url('/images/fb_icon.png');
      position: relative;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.projects{
  background-color: $gray;
  height:130px;
  text-align: center;
  color: $darkGray;
  padding-top: 15px;
  a{
    color: $darkGray;
    &:hover{
      color: $blue;
    }
  }
  img{
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

@media #{$isPhone}{
}
