@import '../../../../theme/constants';
@import '../../../../theme/wrappers/wrappers';
.showFooterBtn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: $green;
  border-radius: 30px;
  cursor: pointer;
  color: $white;
  font-family: $fontA;
  font-weight: bold;
  font-size: 20px;
  span{
    @extend .fCenter;
  }
  &:hover{
    background-color: lighten($green, 10%);
  }
}
.fixedFooter{
  position: fixed;
  top: 0;
  overflow: scroll;
  padding-top: 100px;
  margin-top: 0!important;
  width: 100%;
  .removeFixed{
    display: block!important;
    position: fixed;
    color: $white;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    opacity: .8;
    span{
      font-size: 20px;
    }
    &:hover{
      opacity: 1;
    }
  }
}
.footerWrapper {
  margin-top: 70px;
  padding-bottom: 10px;
  background-color: $green;
  .removeFixed{
    display: none;
  }
}
.brand{
  background-color: $teal;
  height: 340px;
  float: right;
  padding: 50px;
  margin-top: -20px;
  p{
    color: $lightGreen;
    font-size: 14px;
    text-align: center;
    .yellow{
      color: $yellow;
      font-weight: bold;
    }
    .white{
      color: $white;
    }
  }
  img{
    display: block;
    margin: 25px auto;
  }
}
.contact{
  background-color: $yellow;
  height: 210px;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin-top: -20px;
  p{
    color: $teal;
  }
  h2{
    color: $white;
    margin-bottom: 25px;
    font-weight: bold;
    &::before{
      font-size: 23px;
      content:"¡";
      color: $teal;
      font-weight: bold;
      color: $teal;
    }
    &::after{
      font-size: 23px;
      content:"!";
      font-size: 23px;
      font-weight: bold;
      color: $teal;
    }
  }
  a{
    display: inline-block;;
    color: $teal;
    &:hover{
      color: $tealHover;
    }
  }
  .facebook{
    &::before{
      content: "";
      vertical-align: middle;
      width: 21px;
      height: 22px;
      background-image: url('/images/fb-icon.png');
      position: relative;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.projects{
  background-color: $gray;
  height:130px;
  text-align: center;
  color: $darkGray;
  padding-top: 15px;
  p{
    margin-bottom: 0;
  }
  a{
    color: $darkGray;
    &:hover{
      color: $teal;
    }
  }
  img{
    display: block;
    margin: 10px auto 0;
    padding-bottom: 15px;
  }
}
.about{
  background: $yellow;
  padding: 50px;
  font-size: 15px;
  font-weight: Normal;
  color: $teal;
  h2{
    font-size: 22px;
    color: $orange;
    margin-top:0;
    margin-bottom: 25px;
  }
  a{
    font-weight: Bold;
    &:hover{
      text-decoration: underline;
    }
  }
}
@media #{$isPhone}{
  .footerWrapper{
    padding-bottom: 0;
  }
  .brand{
    height: auto;
    padding: 25px;
    margin-top: 0;
  }
  .contact{
    height: auto;
    padding: 25px 0;
    margin-top: 0;
  }
  .projects{
    height: auto;
    padding: 25px 0;
  }
}
