@import '../../../../theme/constants';
@import '../../../../theme/wrappers/wrappers';
.footerWrapper {
  margin-top: 70px;
  padding-bottom: 10px;
  background-color: $green;
}
.brand{
  background-color: $teal;
  height: 340px;
  float: right;
  padding: 50px;
  margin-top: -20px;
  p{
    color: $lightGreen;
    font-size: 14px;
    text-align: center;
    .yellow{
      color: $yellow;
      font-weight: bold;
    }
    .white{
      color: $white;
    }
  }
  img{
    display: block;
    margin: 25px auto;
  }
}
.contact{
  background-color: $yellow;
  height: 210px;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin-top: -20px;
  p{
    color: $teal;
  }
  h2{
    color: $white;
    margin-bottom: 25px;
    font-weight: bold;
    &::before{
      font-size: 23px;
      content:"¡";
      color: $teal;
      font-weight: bold;
      color: $teal;
    }
    &::after{
      font-size: 23px;
      content:"!";
      font-size: 23px;
      font-weight: bold;
      color: $teal;
    }
  }
  a{
    display: inline-block;;
    color: $teal;
    &:hover{
      color: $tealHover;
    }
  }
  .facebook{
    &::before{
      content: "";
      vertical-align: middle;
      width: 21px;
      height: 22px;
      background-image: url('/images/fb-icon.png');
      position: relative;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.projects{
  background-color: $gray;
  height:130px;
  text-align: center;
  color: $darkGray;
  padding-top: 15px;
  a{
    color: $darkGray;
    &:hover{
      color: $teal;
    }
  }
  img{
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

@media #{$isPhone}{
  .footerWrapper{
    padding-bottom: 0;
  }
  .brand{
    height: auto;
    padding: 25px;
    margin-top: 0;
  }
  .contact{
    height: auto;
    padding: 25px 0;
    margin-top: 0;
  }
  .projects{
    height: auto;
    padding: 25px 0;
  }
}
