@import '../../../theme/constants';
.placeContainer{
  border-left: 2px solid $orange;
}
.placeCard {
  height: 230px !important;
  background-color: $gray;
  width: 230px;
  position: relative;
  border-radius: 130px;
  display: inline-block;
  margin: 0 25px 20px;
  overflow: hidden;
  img{
    max-width: 100%;
    min-height: 100%;
    opacity: .3;
  }
  .legend {
    background-color: $teal;
    padding: 15px;
    width: 80%;
    text-align: center;
    @extend .fCenter;
    a {
      color: $white;
      opacity: .8;
      &:hover{
        opacity: 1;
      }
    }
    h2{
      font-size: 16px;
      margin: 0;
      font-weight: bold;
    }
    h3{
      display: block;
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
  .Autos{
    background-color: $yellow;
    h3 a{
      color: darken($yellow, 25%);
    }
  }
  .Bar{
    background-color: $orange;
    h3 a{
      color: darken($orange, 25%);
    }
  }
  .Comida{
    background-color: $teal;
    h3 a{
      color: darken($teal, 25%);
    }
  }
  .Tienda{
    background-color: $green;
    h3 a{
      color: darken($green, 25%);
    }
  }
  .Belleza{
    background-color: $pumpkin;
    h3 a{
      color: darken($pumpkin, 25%);
    }
  }
  .Salud{
    background-color: $purple;
    h3 a{
      color: darken($purple, 25%);
    }
  }
  .Educacion{
    background-color: $blue;
    h3 a{
      color: darken($blue, 25%);
    }
  }
  .Ejercicio{
    background-color: $lightBlue;
    h3 a{
      color: darken($lightBlue, 25%);
    }
  }
  .Ropa{
    background-color: $pink;
    h3 a{
      color: darken($pink, 25%);
    }
  }
  .Servicios{
    background-color: $lemon;
    h3 a{
      color: darken($lemon, 25%);
    }
  }
  .Entretenimiento{
    background-color: $pine;
    h3 a{
      color: darken($pine, 25%);
    }
  }

}
