@import '../../../theme/constants';
.imagePlaceholder {
  background: url(/images/loading.gif) 50% no-repeat;
  max-height: 100px;
}
.placeContainer{
  border-left: 2px solid $orange;
}
.placeCard {
  position: relative;
  border-bottom: 1px solid $gray;
  padding-bottom: 20px;
  margin: 0 0 30px 20px ;
  img{
    width: 120px;
    height: 120px;
  }
  .legend {
    display: inline-block;
    padding: 15px;
    text-align: left;
    a {
      opacity: .8;
      &:hover{
        opacity: 1;
      }
    }
    h2{
      font-size: 16px;
      margin: 0;
      font-weight: bold;
    }
    h3{
      display: block;
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: bold;
    }
    svg{
      margin: 20px 20px 0 0;
    }
  }
}
.Autos{
  border-bottom-color: $yellow;
  img{
    border: 1px solid $yellow;
  }
  .legend{
    a{
      color: $yellow;
    }
    h3 a{
      color: darken($yellow, 25%);
    }
  }
}
.Bar{
  border-bottom-color: $orange;
  img{
    border: 1px solid $orange;
  }
  .legend{
    a{
      color: $orange;
    }
    h3 a{
      color: darken($orange, 25%);
    }
  }
}
.Comida{
  border-bottom-color: $teal;
  img{
    border: 1px solid $teal;
  }
  .legend{
    a{
      color: $teal;
    }
    h3 a{
      color: darken($teal, 25%);
    }
  }
}
.Tienda{
  border-bottom-color: $green;
  img{
    border: 1px solid $green;
  }
  .legend{
    a{
      color: $green;
    }
    h3 a{
      color: darken($green, 25%);
    }
  }
}
.Belleza{
  border-bottom-color: $pumpkin;
  img{
    border: 1px solid $pumpkin;
  }
  .legend{
    a{
      color: $pumpkin;
    }
    h3 a{
      color: darken($pumpkin, 25%);
    }
  }
}
.Salud{
  border-bottom-color: $purple;
  img{
    border: 1px solid $purple;
  }
  .legend{
    a{
      color: $purple;
    }
    h3 a{
      color: darken($purple, 25%);
    }
  }
}
.Educacion{
  border-bottom-color: $blue;
  img{
    border: 1px solid $blue;
  }
  .legend{
    a{
      color: $blue;
    }
    h3 a{
      color: darken($blue, 25%);
    }
  }
}
.Ejercicio{
  border-bottom-color: $lightBlue;
  img{
    border: 1px solid $lightBlue;
  }
  .legend{
    a{
      color: $lightBlue;
    }
    h3 a{
      color: darken($lightBlue, 25%);
    }
  }
}
.Ropa{
  border-bottom-color: $pink;
  img{
    border: 1px solid $pink;
  }
  .legend{
    a{
      color: $pink;
    }
    h3 a{
      color: darken($pink, 25%);
    }
  }
}
.Servicios{
  border-bottom-color: $lemon;
  img{
    border: 1px solid $lemon;
  }
  .legend{
    a{
      color: $lemon;
    }
    h3 a{
      color: darken($lemon, 25%);
    }
  }
}
.Entretenimiento{
  border-bottom-color: $pine;
  img{
    border: 1px solid $pine;
  }
  .legend{
    a{
      color: $pine;
    }
    h3 a{
      color: darken($pine, 25%);
    }
  }
}
.gmaps{

}
@media#{$isTablet}{
}
@media#{$isPhone}{
  .placeContainer{
    border-left:none;
  }
  .placeCard{
    height: auto!important;
    margin: 0 auto 10px;
    @include border-radius(0);
    display: block;
    width: 90%;
    .legend{
      width: 230px;
      vertical-align: top;
    }
    img{
      width: 50px;
      height: 50px;
      margin-top: 15px;
      vertical-align: top;
    }
  }
}
