html
  head
    title='Directorio Playas de Tijuana | Autos, Bar, Comida, Tiendas, Belleza, Salud, Educación, Ejercicio, Ropa, Servicios, Entretenimiento'

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Directorio Playas de Tijuana: Autos, Bar, Comida, Tiendas, Belleza, Salud, Educación, Ejercicio, Ropa, Servicios, Entretenimiento')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/images/favicon.ico' rel='shortcut icon' type='image/png')
    link(href='/libs/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    link(href='/css/base.css' rel='stylesheet' type='text/css')
    link(href='/css/screen.css' rel='stylesheet' type='text/css')
  body
    #app!= content

    script(src='/libs/jquery/jquery.min.js', defer)
    script(src='/libs/bootstrap/js/bootstrap.min.js', defer)
    script(src='/js/app.js', defer)
