@import '../../../theme/constants';

.card {

  margin-bottom: 20px;
  @include box-shadow(0, 1px, 3px, rgba(0,0,0,0.2));

  img {
    width: 100%;
    height: 178px;

    @media #{$isTablet} {
      width: 100%;
      height: 120px;
    }

    @media #{$isPhone} {
      width: 100%;
      height: auto;
    }
  }

  div {
    background: $white;
    padding: 10px;

    h3 {
      padding: 10px 0px;
      margin: 0px;
      color: $black2;

      @media #{$isTablet} {
        font-size: 20px;
      }
    }

    a {
      cursor: pointer;
    }

    p {
      height: 80px;

      @media #{$isTablet} {
        height: 120px;
      }

      @media #{$isPhone} {
        height: auto;
      }
    }
  }

}

.showMore {
  width: 100%;
  text-align: center;
  margin: 20px 0 0;
}

.socialMediaIcons {
  ul {
    list-style-type: none;
    padding: 0;
    margin-left: -10px;

    li {
      display: inline-block;
      padding-right: 10px;
    }
  }
}
