@import '../../../theme/constants';

.card {

  margin-bottom: 20px;
  @include box-shadow(0, 1px, 3px, rgba(0,0,0,0.2));

  @media #{$isPhone} {
    margin-left: -15px;
    margin-right: -15px;
  }

  img {
    width: 100%;
    min-height: 178px;
    max-height: 512px;

    @media #{$isTablet} {
      width: 100%;
      height: 120px;
    }

    @media #{$isPhone} {
      width: 100%;
      height: auto;
    }
  }

  .info {
    background: $white;
    padding-left: 10px;
    padding-right: 10px;

    h3 {
      padding: 10px 0px;
      margin: 0px;
      color: $black2;

      @media #{$isTablet} {
        font-size: 20px;
      }
    }

    a {
      cursor: pointer;
    }

    p {
      height: 80px;

      @media #{$isTablet} {
        height: 120px;
      }

      @media #{$isPhone} {
        height: auto;
      }
    }

    i {
      margin-right: 10px;
    }
  }
}

.showMore {
  width: 100%;
  text-align: center;
  margin: 20px 0 0;
}

.socialMediaIcons {
  margin-top: 20px;
  margin-left: 5px;
  ul {
    list-style-type: none;
    padding: 0;
    margin-left: -10px;

    li {
      display: inline-block;
      padding-right: 10px;
    }
  }
}

.rating {
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.comments {
  margin-top: 15px;

  ul {
    list-style-type: none;
    padding-left: 0px;

    li:not(:last-child) {
      padding-bottom: 5px;
      border-bottom: 1px solid #DDD;
      margin-bottom: 10px;
    }
  }
}

.types {
  span {
    margin-right: 10px;
  }
}
