@font-face {
  font-family: 'opensans_regular'; /* replace with: font-family-name */
  src: url('../fonts/font-a/regular.ttf');
}
@font-face {
  font-family: 'opensans_bold';
  src: url('../fonts/font-a/bold.ttf');
}
body{
  font-family: 'opensans_regular', sans-serif;
  background-color: black;
}
a:hover {
  text-decoration: none;
}

*:focus {outline:0px none transparent;}

li {
  list-style-type: none;
}

.container-fluid{
	max-width: 1024px;
}

.navbar-default .navbar-nav>.active>a{
  background-color: transparent!important;
  color: #04B9C9!important;
}

#app{
	overflow: hidden;
}
