.style__fCenter___cfX-h {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___ZA14l {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___1GkYt {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___2Rj-i {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___2LMcf {
  height: inherit; }

.style__hideOverflow___3olA9 {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__header___3oysY h1 {
  font-size: 42px;
  font-weight: bold;
  color: #ffc200; }
  .style__header___3oysY h1 .style__playami___1p20f {
    font-weight: normal;
    color: #0e888e; }
  .style__header___3oysY h1::before {
    content: "";
    background-image: url("/images/logo_playami.png");
    display: inline-block;
    width: 37px;
    height: 43px;
    vertical-align: center;
    margin-right: 15px; }
@charset "UTF-8";
.style__fCenter___24X-f {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___rkH6k {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___W_SE5 {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___rq5W3 {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___IbmOF {
  height: inherit; }

.style__hideOverflow___3nmjb {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__fCenter___24X-f {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___rkH6k {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___W_SE5 {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___rq5W3 {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___IbmOF {
  height: inherit; }

.style__hideOverflow___3nmjb {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__footerWrapper___zbtoF {
  margin-top: 50px; }

.style__brand___1i--U {
  background-color: #0e888e;
  height: 340px;
  float: right;
  padding: 50px; }
  .style__brand___1i--U p {
    color: #8cf2d3;
    font-size: 15px;
    text-align: center; }
    .style__brand___1i--U p .style__yellow___RRjP0 {
      color: #ffc200;
      font-weight: bold; }
    .style__brand___1i--U p .style__white___3N7gH {
      color: #fff; }
  .style__brand___1i--U img {
    display: block;
    margin: 25px auto; }

.style__contact___2AMMK {
  background-color: #ffc200;
  height: 210px;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 15px; }
  .style__contact___2AMMK p {
    color: #0e888e; }
  .style__contact___2AMMK h2 {
    color: #fff;
    margin-bottom: 25px;
    font-weight: bold; }
    .style__contact___2AMMK h2::before {
      font-size: 23px;
      content: "\A1";
      color: #0e888e;
      font-weight: bold;
      color: #0e888e; }
    .style__contact___2AMMK h2::after {
      font-size: 23px;
      content: "!";
      font-size: 23px;
      font-weight: bold;
      color: #0e888e; }
  .style__contact___2AMMK a {
    display: block;
    color: #0e888e; }
    .style__contact___2AMMK a:hover {
      color: #18a0a0; }
  .style__contact___2AMMK .style__facebook___39dVV::before {
    content: "";
    vertical-align: middle;
    width: 21px;
    height: 22px;
    background-image: url("/images/fb_icon.png");
    position: relative;
    display: inline-block;
    margin-right: 10px; }

.style__projects___2bCs6 {
  background-color: #e0dccd;
  height: 130px;
  text-align: center;
  color: #999182;
  padding-top: 15px; }
  .style__projects___2bCs6 a {
    color: #999182; }
    .style__projects___2bCs6 a:hover {
      color: #0e888e; }
  .style__projects___2bCs6 img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px; }
.style__controls___15CM- {
  z-index: 1; }
.style__itemWrapper___J-zp- {
  padding: 0px; }

.style__item___3QLmn {
  display: block;
  padding: 16px;
  margin: -16px; }
.style__placeCard___kUEUP {
  height: 260px !important;
  margin: 0 5px 10px; }
