.style__fCenter___cfX-h {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___ZA14l {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___1GkYt {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___2Rj-i {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___2LMcf {
  height: inherit; }

.style__hideOverflow___3olA9 {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__header___3oysY h1 {
  font-size: 42px;
  font-weight: bold;
  color: #ffc200; }
  .style__header___3oysY h1 .style__playami___1p20f {
    font-weight: normal;
    color: #0e888e; }
  .style__header___3oysY h1::before {
    content: "";
    background-image: url("/images/logo_playami.png");
    display: inline-block;
    width: 37px;
    height: 43px;
    vertical-align: center;
    margin-right: 15px; }
@charset "UTF-8";
.style__fCenter___24X-f {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___rkH6k {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___W_SE5 {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___rq5W3 {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___IbmOF {
  height: inherit; }

.style__hideOverflow___3nmjb {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__footerWrapper___zbtoF {
  margin-top: 50px; }

.style__brand___1i--U {
  background-color: #0e888e;
  height: 340px;
  float: right;
  padding: 50px; }
  .style__brand___1i--U p {
    color: #8cf2d3;
    font-size: 15px;
    text-align: center; }
    .style__brand___1i--U p .style__yellow___RRjP0 {
      color: #ffc200;
      font-weight: bold; }
    .style__brand___1i--U p .style__white___3N7gH {
      color: #fff; }
  .style__brand___1i--U img {
    display: block;
    margin: 25px auto; }

.style__contact___2AMMK {
  background-color: #ffc200;
  height: 210px;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 15px; }
  .style__contact___2AMMK p {
    color: #0e888e; }
  .style__contact___2AMMK h2 {
    color: #fff;
    margin-bottom: 25px;
    font-weight: bold; }
    .style__contact___2AMMK h2::before {
      font-size: 23px;
      content: "\A1";
      color: #0e888e;
      font-weight: bold;
      color: #0e888e; }
    .style__contact___2AMMK h2::after {
      font-size: 23px;
      content: "!";
      font-size: 23px;
      font-weight: bold;
      color: #0e888e; }
  .style__contact___2AMMK a {
    display: block;
    color: #0e888e; }
    .style__contact___2AMMK a:hover {
      color: #18a0a0; }
  .style__contact___2AMMK .style__facebook___39dVV::before {
    content: "";
    vertical-align: middle;
    width: 21px;
    height: 22px;
    background-image: url("/images/fb_icon.png");
    position: relative;
    display: inline-block;
    margin-right: 10px; }

.style__projects___2bCs6 {
  background-color: #e0dccd;
  height: 130px;
  text-align: center;
  color: #999182;
  padding-top: 15px; }
  .style__projects___2bCs6 a {
    color: #999182; }
    .style__projects___2bCs6 a:hover {
      color: #0e888e; }
  .style__projects___2bCs6 img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px; }
.style__fCenter___1IAv0 {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___3op1c {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___3rmpk {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___bN1_x {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___3EV0T {
  height: inherit; }

.style__hideOverflow___1jYcy {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__feature___3zFaz {
  position: relative;
  margin: 75px 0; }
  .style__feature___3zFaz::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
    background-color: #e0dccd;
    display: block;
    z-index: -1;
    -moz-transform: skew(0deg, -5deg);
    -o-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    -webkit-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg); }
  .style__feature___3zFaz .style__inner___m2WR- {
    overflow: visible; }
  .style__feature___3zFaz .style__item___1hdp3::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 85px;
    left: -25px;
    top: -25px;
    background-color: #0e888e;
    display: block;
    z-index: -1; }
  .style__feature___3zFaz .style__item___1hdp3::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 85px;
    right: -25px;
    bottom: -25px;
    background-color: #ffc200;
    display: block;
    z-index: -1; }
  .style__feature___3zFaz .style__item___1hdp3 .style__imgContainer___1f347 {
    width: 100%;
    overflow: hidden; }
    .style__feature___3zFaz .style__item___1hdp3 .style__imgContainer___1f347 img {
      min-width: 0;
      max-width: 100000px;
      min-height: 300px;
      display: block; }
  .style__feature___3zFaz .style__controls___15CM- {
    background: none !important;
    opacity: 1; }
  .style__feature___3zFaz .style__prev___KokMH {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #892e19;
    position: absolute;
    left: -25px;
    top: 55%; }
    .style__feature___3zFaz .style__prev___KokMH:hover {
      border-right-color: #f45f2e; }
  .style__feature___3zFaz .style__next___2VHzS {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #892e19;
    position: absolute;
    right: -25px;
    top: 36%; }
    .style__feature___3zFaz .style__next___2VHzS:hover {
      border-left-color: #f45f2e; }
.style__fCenter___Awltf {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___2LWX6 {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___29EI3 {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___2QtNO {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___c3WLk {
  height: inherit; }

.style__hideOverflow___3AF4T {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__active___2j7T0 {
  color: #f45f2e !important; }
  .style__active___2j7T0::after {
    content: "";
    width: 0;
    height: 0;
    right: 0;
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #f45f2e;
    top: -5px; }
.style__fCenter___1UVGi, .style__placeCard___kUEUP h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___1mU6D {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___u9e_E {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___1JvrY {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___1GtAP {
  height: inherit; }

.style__hideOverflow___z7o_0 {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__placeCard___kUEUP {
  height: 260px !important;
  width: 260px;
  position: relative;
  border-radius: 130px;
  display: inline-block;
  margin: 0 5px 20px;
  background-image: url("/images/placeholder.png");
  background-size: cover; }
  .style__placeCard___kUEUP h1 {
    font-size: 16px;
    text-align: center;
    padding: 15px;
    width: 80%;
    font-weight: bold; }
    .style__placeCard___kUEUP h1 a {
      color: #fff;
      opacity: .8; }
      .style__placeCard___kUEUP h1 a:hover {
        opacity: 1; }
    .style__placeCard___kUEUP h1 .style__subtitle___1CS09 {
      display: block;
      font-size: 12px;
      margin-top: 10px; }
  .style__placeCard___kUEUP .style__Autos___2oWc5 {
    background-color: #ffc200; }
    .style__placeCard___kUEUP .style__Autos___2oWc5 .style__subtitle___1CS09 {
      color: #806100; }
  .style__placeCard___kUEUP .style__Bar___38S_t {
    background-color: #f45f2e; }
    .style__placeCard___kUEUP .style__Bar___38S_t .style__subtitle___1CS09 {
      color: #9a2c08; }
  .style__placeCard___kUEUP .style__Comida___1sGs9 {
    background-color: #0e888e; }
    .style__placeCard___kUEUP .style__Comida___1sGs9 .style__subtitle___1CS09 {
      color: #03191a; }
  .style__placeCard___kUEUP .style__Tienda___7z_Yd {
    background-color: #66d3b4; }
    .style__placeCard___kUEUP .style__Tienda___7z_Yd .style__subtitle___1CS09 {
      color: #299073; }
  .style__placeCard___kUEUP .style__Belleza___Z_E2U {
    background-color: #ffc200; }
    .style__placeCard___kUEUP .style__Belleza___Z_E2U .style__subtitle___1CS09 {
      color: #806100; }
  .style__placeCard___kUEUP .style__Salud___3NTCm {
    background-color: #ffc200; }
    .style__placeCard___kUEUP .style__Salud___3NTCm .style__subtitle___1CS09 {
      color: #806100; }
  .style__placeCard___kUEUP .style__Educacion___37EUL {
    background-color: #66d3b4; }
    .style__placeCard___kUEUP .style__Educacion___37EUL .style__subtitle___1CS09 {
      color: #299073; }
  .style__placeCard___kUEUP .style__Ejercicio___3UF1I {
    background-color: #f45f2e; }
    .style__placeCard___kUEUP .style__Ejercicio___3UF1I .style__subtitle___1CS09 {
      color: #9a2c08; }
  .style__placeCard___kUEUP .style__Ropa___1VvqX {
    background-color: #0e888e; }
    .style__placeCard___kUEUP .style__Ropa___1VvqX .style__subtitle___1CS09 {
      color: #03191a; }
  .style__placeCard___kUEUP .style__Servicios___2MYSk {
    background-color: #66d3b4; }
    .style__placeCard___kUEUP .style__Servicios___2MYSk .style__subtitle___1CS09 {
      color: #299073; }
  .style__placeCard___kUEUP .style__Entretenimiento___2T1yU {
    background-color: #ffc200; }
    .style__placeCard___kUEUP .style__Entretenimiento___2T1yU .style__subtitle___1CS09 {
      color: #806100; }
  .style__placeCard___kUEUP .style__Entretenimiento___2T1yU {
    background-color: #ffc200; }
    .style__placeCard___kUEUP .style__Entretenimiento___2T1yU .style__subtitle___1CS09 {
      color: #806100; }
.style__fCenter___ByilZ {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.style__vCenter___1v0oL {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__vCenterRel___r367- {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.style__hCenter___35AKo {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.style__inheritHeight___GkUeM {
  height: inherit; }

.style__hideOverflow___30PJL {
  overflow: hidden; }

body {
  font-family: "Open Sans"; }

.style__categories___1b9mU ul {
  border-right: 2px solid #f45f2e;
  padding-left: 0;
  padding: 20px 0; }
  .style__categories___1b9mU ul li {
    list-style: none;
    margin-bottom: 30px;
    display: block; }
    .style__categories___1b9mU ul li a {
      display: block;
      position: relative;
      font-size: 16px;
      font-weight: bold;
      color: #0e888e; }
      .style__categories___1b9mU ul li a:hover, .style__categories___1b9mU ul li a:focus {
        color: #f45f2e;
        text-decoration: none; }
