@import '../../../../theme/constants';
.feature {
  position: relative;
  margin: 75px 0;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
    background-color: $gray;
    display: block;
    z-index: -1;
    @include transform(skew(0deg, -5deg));
  }
}
.carouselContainer{
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  &::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 85px;
    left: -25px;
    top: -25px;
    background-color: $teal;
    display: block;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 85px;
    right: -25px;
    bottom: -25px;
    background-color: $yellow;
    display: block;
    z-index: -1;
  }
}
.inner{
  overflow: hidden;
}
.item {
  position: relative;
  .imgContainer {
    width: 100%;
    overflow: hidden;
    img {
      min-width: 0;
      max-width: 100000px;
      min-height: 300px;
      display: block;
    }
    h3{
      position: absolute;
      font-weight: bold;
      font-size: 30px;
      top: 25px;
      left: 25px;
      margin: 0;
      color: $white;
      text-shadow: 2px 2px 6px $black;
      padding: 15px;
    }
    h4{
      position: absolute;
      font-size: 16px;
      bottom: 25px;
      right: 25px;
      margin: 0;
      width: 50%;
      color: $white;
      text-shadow: 2px 2px 6px $black;
      text-align: right;
      padding: 15px;
      br{
        line-height: 30px;
      }
    }
  }
}
.controls {
  background: none!important;
  opacity: 1;
}
.prev {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid $white;
  opacity: .8;
  position: absolute;
  @extend .vCenter;
  left: 10px;
  &:hover {
    border-right-color: $white;
    opacity: 1;
  }
}
.next {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid $white;
  opacity: .8%;
  position: absolute;
  @extend .vCenter;
  right: 10px!important;
  &:hover {
    border-left-color: $white;
    opacity: 1;
  }
}
@media#{$isPhone}{
  .feature{
    margin: 30px auto;
  }
  .carouselContainer{
    margin: 0 -15px;
    &::before{
      left: 0;
      width: 100%;
    }
    &::after{
      right: 0;
      width: 100%;
    }
  }
  .item{
    .imgContainer {
      h3{
        top: 5px;
        left: 5px;
        padding: 10px;
        font-size: 16px;
        max-width: 70%;
      }
      h4{
        bottom: 5px;
        right: 5px;
        padding: 10px;
        font-size: 14px;
        width: 70%
      }
    }
  }
}
