@import '../../../../theme/constants';
@import '../../../../theme/buttons/buttons';
.service{
  height: 256px;
  h2{
    font-size: 18px;
    padding: 63px 45px 30px;
    margin: 0;
  }
  a{
    margin: 0 0 0 45px;
    width: 150px;
    padding: 15px 45px 15px 15px;
    text-transform: uppercase;
    font-size: 11px;
  }
}

.services_menu {
  background-color: white;
  position: fixed;
  border-bottom: 1px solid $darkBlue;
  top: 110px;
  z-index: 10;
  width: 1024px;
  @extend .hCenter;
}

.service_0 {
  @extend .service;
  border-top: 7px solid $red;
  color: $red;
  a {
    @extend .btn4red;
  }
}

.service_1 {
  @extend .service;
  border-top: 7px solid $orange;
  color: $orange;
  a {
    @extend .btn4orange;
  }
}

.service_2 {
  @extend .service;
  border-top: 7px solid $green;
  color: $green;
  a {
    @extend .btn4green;
  }
}

.leftPanel{
  height: 256px;
  padding: 70px 45px 0 30px;
  background: $darkBlue;
  color: $white;
  h3{
    font-family: $fontBBold;
    font-size: 18px;
    margin: 0 0 15px;
  }
  p{
    font-family: $fontB;
    font-size: 12px;
    margin-bottom: 30px;
  }
  // &::after{
  //   content: "";
  //   margin: 0 -15px;
  //   @extend .icon-sprites;
  //   @include sprite($sprites-submenu-decor);
  // }
}
