@import './helpers';
@import './mixins';
@import './sprite';
// --- Legacy colors
$darkBlue: #1D3A4C;
$blueGray: #839DAA;

$mediumGray: #999B9D;


// --- New colors
$blue: #0e888e;
$blueHover: #18a0a0;
$green: #66d3b4;
$lightGreen: #8cf2d3;
$gray: #e0dccd;
$darkGray: #999182;
$yellow: #ffc200;
$orange: #f28c30;
$black: #000;
$white: #fff;

$fontA: 'Open Sans';
$fontABold: 'opensans_bold';
$fontB: 'opensans_regular';
$fontBBold: 'opensans_bold';



$isTablet: "only screen and (max-width: 1023px)";
$isPhone: "only screen and (max-width: 767px)";

body{
  font-family: $fontA;
}
